<link rel="stylesheet" href="{{ url_for('static', filename='/css/settings.css') }}">

{% extends "base.html" %} {% block title %}Settings{% endblock %} {% block
content %}

<ul class="nav nav-tabs navbar-dark bg-dark" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab"
            aria-controls="contacts" aria-selected="true"><i class="bi-people-fill"></i> Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="whatsapp-tab" data-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp"
            aria-selected="false"><i class="bi-whatsapp"></i> Whatsapp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="instagram-tab" data-toggle="tab" href="#instagram" role="tab" aria-controls="instagram"
            aria-selected="false"><i class="bi-instagram"></i> Instagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook"
            aria-selected="false"><i class="bi-facebook"></i> Facebook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="twitter-tab" data-toggle="tab" href="#twitter" role="tab" aria-controls="twitter"
            aria-selected="false"><i class="bi-twitter"></i> Twitter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="snapchat-tab" data-toggle="tab" href="#snapchat" role="tab" aria-controls="snapchat"
            aria-selected="false"><i class="bi-snapchat"></i> Snapchat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkedin-tab" data-toggle="tab" href="#linkedin" role="tab" aria-controls="linkedin"
            aria-selected="false"><i class="bi-linkedin"></i> Linkedin</a>
    </li>
</ul>
{% include "messages.html" %}
<br>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <form action="settings" method="POST">
            <div id="contacts" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Edit Contacts</h6>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <div class="form-group">
                                                <div class="container">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Number</th>
                                                            <th>Email</th>
                                                            <th></th>
                                                        </tr>
                                                        {% for contact in user.contacts %}
                                                        <tr>
                                                            <td>{{ contact.name }}</td>
                                                            <td>{{ contact.phone_number }}</td>
                                                            <td>{{ contact.email }}</td>
                                                            <td><button type="button" class="close"
                                                                    onClick='deleteContact("{{ contact.id }}")'>
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Add Contact</h6>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <div class="form-group">
                                                <div class="container">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Number</th>
                                                            <th>Email</th>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="text" placeholder="Enter a name"
                                                                    id="table_input" name="contact_name"></td>
                                                            <td><input inputmode="numeric"
                                                                    placeholder="Enter a phone number" id="table_input"
                                                                    name="contact_number"
                                                                    oninput="this.value=this.value.replace(/\D+/g, '')">
                                                            </td>
                                                            <td><input type="text" placeholder="Enter an email"
                                                                    id="table_input" name="contact_email"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <input type="submit" class="btn btn-primary" value="Add"
                                                    id="add_contact_button" name="add_contact_button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
        <form action="settings" method="POST">
            <div id="whatsapp" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Whatsapp</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="whatsapp_token">Access Token</label>
                                                <input type="text" class="form-control" id="whatsapp_token"
                                                    name="whatsapp_token" placeholder="Enter your access token" value={{
                                                    data.whatsapp_token or '' }}>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="whatsapp_number">Phone Number</label>
                                                <input inputmode="numeric" class="form-control"
                                                        placeholder="Enter your business number" id="whatsapp_number"
                                                        name="whatsapp_number"
                                                        oninput="this.value=this.value.replace(/\D+/g, '')"
                                                        value={{ data.whatsapp_number or '' }}>
                                                <!-- <input type="number" class="form-control" id="whatsapp_number"
                                                    name="whatsapp_number" placeholder="Enter your business number"
                                                    value={{ data.whatsapp_number }}> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <input type="submit" class="btn btn-primary" value="Update"
                                                    id="update_whatsapp_button" name="update_whatsapp_button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="instagram" role="tabpanel" aria-labelledby="instagram-tab">
        <form action="settings" method="POST">
            <div id="instagram" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Instagram</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="instagram_token">Access Token</label>
                                                <input type="text" class="form-control" id="instagram_token"
                                                    name="instagram_token" placeholder="Enter your access token"
                                                    value={{ data.instagram_token or '' }}>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="instagram_id">Business ID</label>
                                                <input inputmode="numeric" class="form-control"
                                                        placeholder="Enter your business id" id="instagram_id"
                                                        name="instagram_id"
                                                        oninput="this.value=this.value.replace(/\D+/g, '')"
                                                        value={{ data.instagram_id or '' }}>
                                                <!-- <input type="number" class="form-control" id="instagram_id"
                                                    name="instagram_id" placeholder="Enter your business id" value={{
                                                    data.instagram_id }}> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <input type="submit" class="btn btn-primary" value="Update"
                                                    id="update_instagram_button" name="update_instagram_button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="facebook" role="tabpanel" aria-labelledby="facebook-tab">
        <form action="settings" method="POST">
            <div id="facebook" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Facebook</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="facebook_token">Access Token</label>
                                                <input type="text" class="form-control" id="facebook_token"
                                                    name="facebook_token" placeholder="Enter your access token" value={{
                                                    data.facebook_token or '' }}>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="facebook_id">Business ID</label>
                                                <input inputmode="numeric" class="form-control"
                                                        placeholder="Enter your business id" id="facebook_id"
                                                        name="facebook_id"
                                                        oninput="this.value=this.value.replace(/\D+/g, '')"
                                                        value={{ data.facebook_id or '' }}>
                                                <!-- <input type="number" class="form-control" id="facebook_id"
                                                    name="facebook_id" placeholder="Enter your business id" value={{
                                                    data.facebook_id }}> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <input type="submit" class="btn btn-primary" value="Update"
                                                    id="update_facebook_button" name="update_facebook_button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">
        <form action="settings" method="POST">
            <div id="twitter" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Twitter Settings</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="snapchat" role="tabpanel" aria-labelledby="snapchat-tab">
        <form action="settings" method="POST">
            <div id="snapchat" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">Snapchat Settings</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="linkedin" role="tabpanel" aria-labelledby="linkedin-tab">
        <form action="settings" method="POST">
            <div id="linkedin" class="w3-container w3-display-container settings">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-3 text-primary">LinkedIn Settings</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <script>
    function openSettings(settings_id) {
        var i;
        var x = document.getElementsByClassName("settings");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(settings_id).style.display = "block";
    }
</script> -->
<script>
    function deleteContact(contact_id) {
        fetch("/delete-contact", {
            method: "POST",
            body: JSON.stringify({ contact_id: contact_id }),
        }).then((_res) => {
            window.location.href = "/settings";
        });
    }
</script>
{% endblock %}